<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>About The Thirsty Student Shop</h1>
    <p>We sell all sorts of drinks</p>
  </body>
</html>
