<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>Search the Page</h1>
    <p>Enter terms into the search bar</p>
        <form action="/search_result" method="GET">
        
            Search:<input id="search_box" type="text" name="search_text">
            Category:<input id="category_box" type="text" name="category">
        <input type="submit" value="OK" >
        
    </form>

</body>
</html>
